.toggle-vis {
    cursor: pointer;
}

.filter-class {
    color: -webkit-link;
    position: relative;
}

.filter-model {
    position: absolute;
    background-color: #ffffff;
    top: 25px;
    padding: 8px;
    right: 0px;
    width: 260px;
    z-index: 1000;
    border: 1px solid #ddd;
    display: none;
}

.filter-model ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filter-item {
    color: -webkit-link;
    position: relative;
}

.filter-item .update-item {
    position: absolute;
    right: 50px;
}

.filter-item .delete-item {
    position: absolute;
    right: 0px;
}

.filter-add {
    cursor: pointer;
    color: -webkit-link;
}

.add-domain {
    font-size: 16px;
    line-height: 56px;
    margin-right: 2px;
    cursor: pointer;
    color: -webkit-link;
}

.data-table tr {
    cursor: pointer;
}

.btn.domain-available-soon {
    border: 1px solid #ddd;
}

.accept-item,
.delete-item,
.update-item,
#filter-clear,
#filter-add {
    cursor: pointer;
}

.loading {
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    bottom: 0;
    right: 0;
    z-index: 9999999999999
}

.loading,
.loading:before {
    position: fixed;
    top: 0;
    left: 0
}

.loading:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3)
}

.loading:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -.5em;
    -webkit-animation: 1.5s linear infinite spinner;
    -moz-animation: 1.5s linear infinite spinner;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: 1.5s linear infinite spinner;
    animation: 1.5s linear infinite spinner;
    border-radius: .5em;
    -webkit-box-shadow: rgba(0, 0, 0, .75) 1.5em 0 0 0, rgba(0, 0, 0, .75) 1.1em 1.1em 0 0, rgba(0, 0, 0, .75) 0 1.5em 0 0, rgba(0, 0, 0, .75) -1.1em 1.1em 0 0, rgba(0, 0, 0, .5) -1.5em 0 0 0, rgba(0, 0, 0, .5) -1.1em -1.1em 0 0, rgba(0, 0, 0, .75) 0 -1.5em 0 0, rgba(0, 0, 0, .75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, .75) 1.5em 0 0 0, rgba(0, 0, 0, .75) 1.1em 1.1em 0 0, rgba(0, 0, 0, .75) 0 1.5em 0 0, rgba(0, 0, 0, .75) -1.1em 1.1em 0 0, rgba(0, 0, 0, .75) -1.5em 0 0 0, rgba(0, 0, 0, .75) -1.1em -1.1em 0 0, rgba(0, 0, 0, .75) 0 -1.5em 0 0, rgba(0, 0, 0, .75) 1.1em -1.1em 0 0
}

.sticky-option {
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background: #ccc;
}

.wrap-table {
    width: 100%;
    overflow: auto;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.full-cont {
    background-color: #ddd;
    width: 100%;
    height: 100%;
}

.domain-available {
    background-color: #ee9a7d !important;
}

.domain-in-auction {
    background-color: #a8d39d;
}

.domain-exp {
    background-color: #83a5d9 !important;
}

.edit-switch.seo-status{
    padding: 0;
}

.seo-status .chua-check-i{
    display: block;
    padding:0.5rem;
}

.seo-status .dang-check-i {
    display: block;
    background-color: #ee9a82;
    padding:0.5rem;
}

.seo-status .da-check-i {
    display: block;
    background-color: #fdf79f;
    padding:0.5rem;
}

.seo-status .chot-mua-i {
    display: block;
    background-color: #80cd9f;
    padding:0.5rem;
}

.seo-status .da-mua-i {
    display: block;
    background-color: #86a4d8;
    padding:0.5rem;
}

.btn.chua-check-i{
    border: 1px solid #ddd;
}

.btn.dang-check-i {
    background-color: #ee9a82;
}

.btn.da-check-i {
    background-color: #fdf79f;
}

.btn.chot-mua-i {
    background-color: #80cd9f;
}

.btn.da-mua-i {
    background-color: #86a4d8;
}
